* {
  margin: 0;
  padding: 0;
}

#app {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

table {
  border: 0.75rem;
  width: 100%;
  text-align: left;
  border: 0.25rem solid black;
}

thead {
  text-transform: uppercase;
}

th,
td {
  border: 0.1rem dashed gray;
  padding: 0.75rem;
}
